.banner{
    display:flex ;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /*background-color:#A5EF00;*/
}
.banner__title{
    text-align: center;
    margin-bottom: 40px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 1200px) {
    .btns{
        flex-direction:column ;
    }
}
@media (max-width: 990px) {
    .banner{
        flex-direction:column ;
    }
    .banner__title{
        margin-top: 40px;
    }
}